{% extends 'base.html' %}
{% block title %}About Dido Grigorov - My Life Journey{% endblock %}
{% block canonical %}<link rel="canonical" href="https://didogrigorov.me/about/" />{% endblock %}
{% block content %}
    <main>
      <div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-12 text-center py-vh-5">
      <h1>{{ about.title }}</h1>
    </div>
    <div class="col-11 col-lg-10 col-xl-6 border-bottom border-top py-vh-3">
      <div class="row">
          {{ about.content|safe }}
      </div>
    </div>
  </div>
</div>

    </main>
{% endblock %}