{% extends 'base.html' %}

{% block content %}
    <main>
      <div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-12 text-center py-vh-5">
      <h1>Contact Me</h1>
    </div>
    <div class="col-11 col-lg-10 col-xl-6 border-bottom border-top py-vh-3">
      <div class="row">
          <div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Thank you for completing the form! </h4>
  <p>Your submission has been received successfully. We appreciate your time and effort in providing the necessary information. Our team will review your submission and follow up with you if any additional details are needed. </p>
  <hr>
  <p class="mb-0">If you have any questions or need further assistance, feel free to reach out to us. Have a great day!</p>
</div>
      </div>
    </div>
  </div>
</div>

    </main>
{% endblock %}