{% extends 'base.html' %}
{% load static %}
{% block title %}Contact Me or Find Me on LinkedIn - Dido Grigorov{% endblock %}
{% block canonical %}<link rel="canonical" href="https://didogrigorov.me/contact/" />{% endblock %}
{% block styling %}<link rel="stylesheet" href="{% static 'css/theme.min.css' %}">{% endblock %}
{% block content %}

    <main>
      <div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-12 text-center py-vh-3">
      <h1>Contact Me</h1>
        <p>Let’s connect! Whether you want to collaborate, ask a question, or just say hello, I’d love to hear from you.</p>
        <p>Drop me a message, and let’s start the conversation!</p>
          <div class="vstack gap-3">
              <div class="p-2"><a href="https://www.linkedin.com/in/didogrigorov/" aria-label="Download this template" class="fs-6 link-fancy" target="_blank">Find Me On LinkedIn</a></div>
        </div>`
    </div>
    <div class="col-11 col-lg-10 col-xl-6 border-bottom border-top py-vh-3">
      <div class="row">
<form method="post" novalidate>
            {% csrf_token %}
            <div class="mb-3">
                {{ form.name }}
                {% if form.name.errors %}
                    <div class="invalid-feedback d-block">
                        {{ form.name.errors.as_text|striptags }}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.email }}
                {% if form.email.errors %}
                    <div class="invalid-feedback d-block">
                        {{ form.email.errors.as_text|striptags }}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.message }}
                {% if form.message.errors %}
                    <div class="invalid-feedback d-block">
                        {{ form.message.errors.as_text|striptags }}
                    </div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-black btn-outline-dark btn-lg">Send Your Message To Me</button>
        </form>
      </div>
    </div>
  </div>
</div>

    </main>
{% endblock %}