{% extends 'base.html' %}

{% block content %}
    <main>
      <div class="w-100 overflow-hidden position-relative" id="top">
  <div class="container py-vh-5">
  <div class="row d-flex justify-content-center text-center">
    <div class="col-12 col-lg-10">
      <h1 class="display-huge mb-3">Welcome to Dido Grigorov's Personal Diary</h1>
      <a href="{% url 'about' %}" class="btn btn-primary btn-xl shadow">Read More About Me</a>
    </div>
  </div>
</div>

</div>
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-11 col-lg-10 col-xl-6">
      <div class="row border-bottom">
          {% for post in posts %}
          <article class="col-12 border-top px-0 py-4 d-flex justify-content-between align-items-center">
      <h2 class="h4 lh-1 mb-0"><a href="{{ post.slug }}" class="text-decoration-none">{{ post.title }}</a></h2>
      <time datetime="2022-10-31">{{post.date_posted}}</time>
    </article>
          {% endfor %}
      <div class="btn-group text-center">
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-primary" href="?page=1">First</a>
            <a class="btn btn-outline-primary" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a class="btn btn-outline-primary" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-primary" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
      </div>
      </div>
    </div>
  </div>
</div>

    </main>
{% endblock %}

