{% extends 'base.html' %}
{% block title %}{{ item.title }} - Dido Grigorov{% endblock %}
{% block canonical %}<link rel="canonical" href="https://didogrigorov.me/{{ item.slug }}/" />{% endblock %}
{% block content %}
    <main class="container py-vh-3">
      <div class="row d-flex justify-content-center text-center">
        <div class="col-12 col-lg-10 col-xl-6">
            <small class="text-muted">Author: Dido Grigorov, | <strong>Published:</strong> {{ item.date_posted }}, | <strong>Updated:</strong> {{ item.date_updated }}</small>
          <h1 class="display-huge">{{ item.title }}</h1>
        </div>
        
        <div class="row d-flex justify-content-center text-start">
          <div class="col-12 col-lg-10 col-xl-6 py-vh-2">
           {{ item.content|safe }}

          </div>
        </div>
      </div>
    </main>
    <div class="container d-flex justify-content-between">
      

{% if previous_post %}
<div class="col border-top border-end py-vh-3 d-flex align-items-center">
  
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
</svg>
 <a href="{{ previous_post.get_absolute_url }}" class="ms-2 display-6">{{ previous_post.title }}</a>
      
</div>
{% endif %}
{% if next_post %}
<div class="col border-top text-end py-vh-3 d-flex align-items-center justify-content-end">
  
  <a href="{{ next_post.get_absolute_url }}" class="me-2 display-6">{{ next_post.title }}</a>
    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
</svg>
</div>
{% endif %}
    </div>
    
{% endblock %}